@keyframes xAxis-1
  50%
    animation-timing-function ease-out
    transform translateX(-40px)
@keyframes xAxis-2
  50%
    animation-timing-function ease-in
    transform translateX(-20px)

@keyframes yAxis-2
  50%
    animation-timing-function cubic-bezier(0.02, 0.01, 0.32, 0.73)
    transform translateY(-20px)
@keyframes yAxis-2
  50%
    animation-timing-function cubic-bezier(0.02, 0.01, 0.32, 0.73)
    transform translateY(20px)
