article
  &
    display flex
    align-items stretch
    width 100vw
    height 100vh
    overflow hidden
  main
    flex 0 0 $main-width
    display flex
    flex-direction column
  ul
    list-style none
