$ff-sans-latin         = Avenir Next, Helvetica Neue, Helvetica, Arial
$ff-sans-hant          = YuGothic, Hiragino Sans, Hiragino Kaku Gothic ProN, Hiragino Sans GB, Noto Sans CJK KR, Noto Sans CJK JP
$ff-sans-hans          = Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans CN

$ff-sans-generic       = $ff-sans-latin, $ff-sans-hant, sans-serif
$ff-sans-generic-hans  = $ff-sans-latin, $ff-sans-hans, sans-serif

$ff-serif-latin        = Didot
$ff-serif-hant         = YuMincho, Hiragino Mincho ProN, Noto Serif CJK KR, Noto Serif CJK JP, Source Han Serif KR, Source Han Serif JP
$ff-serif-hans         = Noto Serif CJK SC, Source Han Serif CN

$ff-serif-generic      = $ff-serif-latin, $ff-serif-hant, serif
$ff-serif-generic-hans = $ff-serif-latin, $ff-serif-hans, serif

HTML
  overflow-x hidden
  font-size 16px
  font-family $ff-sans-generic
  line-height 1.5
  background-color #fcfcfc
  color rgb(40, 40, 40)
  box-sizing border-box
HTML
Body
  margin 0
  padding 0

*
*::before
*::after
  box-sizing inherit

// ================
// GENERAL ELEMENTS
// ================
A
  &
    transition .15s all ease-out
  &:link
  &:visited
    &
      color #777
    @media print
      color #666
  &:hover
    color lighten(#777, 30%)
  &:active
    color darken(#777, 10%)

Address
  font-style inherit
Button
  padding 0
  font-size inherit
  background none
  border 0
  color inherit
  cursor pointer
DD
  margin 0
.Icon
  &
    width 1em
  &[data-icon="toggle"]
    font-size 1.5rem
Label
  cursor pointer
P:lang(zh)
  text-align justify

// ======
// HEADER
// ======
Body > Header
  &
    padding .5em 1em 0
    background-color #f6f6f7
  @media print
    display none
  ul
    display flex
    justify-content center
    align-items center
    margin 0
    list-style none
  li
    &
      margin 0
      transition .25s all ease-out
    &:not(:last-child)
      //margin-right 1em
  button
    display none
// ======================
// TOGGLES IN THE HEADERS
// ======================
Body > Header label
  &
    position relative
    display flex
    align-items center
    flex-direction column
    width 4.5rem
    font 0/0 Arial
    color transparent
  &::before
  &::after
    position absolute
    top 0
    z-index 0
    display block
    width 100%
    height 1em
    speak never
    font-family Optima, $ff-sans-generic
    font-size 1rem
    font-weight bold
    line-height 1
    text-align center
    text-transform uppercase
    transition .15s background-color ease-out
    transition-delay .075s
  &::after
    top auto
    bottom .5em
  .Icon
    position relative
    z-index 5

$toggle-inactive-text
$toggle-active-text
$toggle-neither-text
  background-color #939393
  color transparent
  text-shadow 2px 2px 3px rgba(255,255,255,.5)
  -webkit-background-clip text
  -moz-background-clip text
  background-clip text
$toggle-active-text
  background-color rgb(143, 201, 62)
$toggle-neither-text
  background-color rgba(143, 201, 62, .75)
  transition-delay: .15s

$toggle-label-in-zh
  letter-spacing .4em
  padding-left @letter-spacing

$toggle-upward
  &::before
    @extends $toggle-active-text
  &::after
    @extends $toggle-inactive-text

$toggle-downward
  #handle
    transform scaleY(-1)
    transform-origin center 86px
  #ball
    transform translateY(90px)
  &::before
    @extends $toggle-inactive-text
  &::after
    @extends $toggle-active-text

$toggle-neither
  &::before
  &::after
    @extends $toggle-neither-text
  #handle
    transform scale(0)
  #ball
    transform translateY(60px)

#handle
#ball
  transition .15s all ease-out

for toggle-id in "zh--en" "hant--hans" "dark--light" "sans-serif--serif" "horizontal--vertical" "f-left--justified"
  input#{toggle-id}:indeterminate ~ header label[for={s("%s", toggle-id)}]
    @extends $toggle-neither
  input#{toggle-id}:not(:indeterminate):not(:checked) ~ header label[for={s("%s", toggle-id)}]
    @extends $toggle-upward
  input#{toggle-id}:not(:indeterminate):checked ~ header label[for={s("%s", toggle-id)}]
    @extends $toggle-downward

input#zh--en:not(:checked) ~ header ul li:lang(en)
input#zh--en:checked ~ header ul li:lang(zh):not(:first-child)
  display none
input#zh--en:checked ~ header ul li.hant--hans:lang(zh)
  &
    position relative
    display list-item
    cursor not-allowed
    opacity .5
  label
    pointer-events none

label[for="zh--en"]
  &::before
    content '中文'
    @extends $toggle-label-in-zh
  &::after
    content 'Eng'
    letter-spacing 0
label[for="hant--hans"]
  &::before
    content '繁'
  &::after
    content '简'
label[for="dark--light"]
  &:lang(zh)::before
    content '淺'
    @extends $toggle-label-in-zh
  &:lang(en)::before
    content 'Light'
  &:lang(zh)::after
    content '深'
    @extends $toggle-label-in-zh
  &:lang(en)::after
    content 'Dark'
label[for="sans-serif--serif"]
  &:lang(zh)::before
    content '方'
    @extends $toggle-label-in-zh
  &:lang(en)::before
    content 'Sans'
  &:lang(zh)::after
    content '宋'
    font-family: $ff-serif-generic
    @extends $toggle-label-in-zh
  &:lang(en)::after
    content 'Serif'
    font-family: 'Bodoni 72 Bold', $ff-serif-generic
label[for="horizontal--vertical"]
  &::before
    content '橫'
    @extends $toggle-label-in-zh
  &::after
    content '縱'
    @extends $toggle-label-in-zh
label[for="f-left--justified"]
  &::before
    content 'F. left'
  &::after
    content 'Justif.'

// ==========================================
// CONTENT STYLES BASED ON PREFERENCE TOGGLES
// ==========================================
//
// Chinese/English:
input#zh--en:not(:indeterminate):not(:checked) ~ main article
  h1, h2, h3, h4, h5, h6, p
    &:lang(en)
      display none
input#zh--en:not(:indeterminate):checked ~ main article
  h1, h2, h3, h4, h5, h6, p
    &:lang(zh)
      display none

// Hant/Hans:
input#hant--hans:not(:checked) ~ main article
  h1, h2, h3, h4, h5, h6, p
    &:lang(zh-cmn-Hans)
      display none
input#hant--hans:checked ~ main article
  h1, h2, h3, h4, h5, h6, p
    &:lang(zh-cmn-Hant)
      display none

// Sans-serif/serif:
input#hant--hans:checked ~ input#sans-serif--serif:not(:checked) ~ main article
  font-family $ff-sans-generic-hans
input#sans-serif--serif:checked ~ main article
  font-family $ff-serif-generic
input#hant--hans:checked ~ input#sans-serif--serif:checked ~ main article
  font-family $ff-serif-generic-hans

// Alignment:
input#zh--en:checked ~ input#f-left--justified:checked ~ main article
  p:lang(en)
    -webkit-hyphens auto
    hyphens auto
    text-align justify

// =======
// CONTENT
// =======
Main
  &
    display flex
    justify-content center
    padding 5rem 2rem 8rem
    width 100%
  @media print
    padding .5rem 1rem
    font-size .75rem
  Address
    &
      position sticky
      top 4.25rem
      margin 4.25rem 1em 1em 0
      width 10rem
      height fit-content
      font-family Gill Sans, Gill Sans Light, $ff-sans-generic
      font-weight 300
    @media print
      position relative
      top 0
      margin-top 3.5rem
      margin-right .5rem
      width 8rem
    input#zh--en:indeterminate ~ &
      &
        margin-top 7.25rem
      @media print
        margin-top 2.5rem
    input#zh--en:not(:indeterminate):checked ~ &
      @media print
        margin-top 3rem

    h1
      &
        display inline
        font-family: Optima, $ff-serif-generic
        font-size 1em
        font-weight normal
      /input#zh--en:not(:indeterminate):not(:checked) ~ &:lang(en)
      /input#zh--en:not(:indeterminate):checked ~ &:lang(zh)
        display none

    dl
      margin .5em 0
    dt
      position absolute
      z-index -10
      display inline
      opacity 0
    h1 + h1::before
    dt + dt::before
      content ' '
      font-size .875em
    dd
      margin-bottom .25rem
    dd:last-child
      margin-top 1rem
  h1, h2, h3, h4, h5, h6, p.period
    margin 0
  article
    &
      position relative
      flex 1
      max-width 40em
    @media print
      &
        line-height 1.25
      input#zh--en:not(:indeterminate):checked ~ &
        max-width 50em
    h1
      &
        display flex
        align-items baseline
        font-size 1.25rem
        font-family Gill Sans, $ff-sans-generic
        font-weight normal
        line-height 1.5
        text-shadow 1px 1px 0 #eee
        color rgb(112, 125, 113)
      @media print
        &
          font-size 1rem
          color rgb(77, 77, 77)
        input#zh--en:indeterminate ~ &
          &
            transform scale(.75)
            transform-origin left top
            margin-bottom -1em
          &:lang(en)
            display none
          &::after
            content 'Front-end developer'
            margin-left .25em
        & //:lang(en)
          font-size .75rem
          margin-bottom -.5em
      &:lang(zh-Hans)
        font-family Gill Sans, $ff-sans-generic-hans
      b
        &
          display block
          margin-right .25em
          font-family $ff-serif-generic
          font-size 2rem
          font-weight normal
          text-shadow none
          color rgb(27, 31, 25)
          @media print
            input#zh--en:indeterminate ~ &::after
              content 'Yijun'
              margin-left .25em
        &:lang(zh-Hans)
          font-family $ff-serif-generic-hans
        &:lang(en),
        &:lang(zh)::first-letter
          font-weight bolder
          color #485043

    p + h2,
    p + h2 + h2,
    /input#zh--en:not(:indeterminate):checked ~ Main Article p + h2 + h2 + h2
      &
        margin-top 2em
      @media print
        &
          margin-top 1.5em
          //font-size .875rem
        &:lang(en)
          margin-top 1em
        input#zh--en:indeterminate ~ &
          margin-top .75em
    p + h3,
    p + h3 + h3,
    /input#zh--en:not(:indeterminate):checked ~ Main Article p + h3 + h3 + h3
      &
        margin-top 1.5em
      @media print
        &
          margin-top 1em
        &:lang(en)
          margin-top .5em
    h2
      &
        font-family: $ff-serif-generic
        font-size 1.25rem
      @media print
        font-size .875rem
      &:lang(zh)
        letter-spacing .25em
      &:lang(zh-Hans)
        font-family: $ff-serif-generic-hans
    h2 + h3,
    /input#hant--hans:checked ~ Main article h2 + h3 + h3,
    /input#zh--en:checked ~ Main article h2 + h3 + h3 + h3
      &
        margin-top .5em
      @media print
        &:lang(en)
          margin-top 0
    h3
      &
        font-family DIN Alternate, DIN Alternate Bold, $ff-sans-generic
        font-size 1rem
        font-weight 600
      @media print
        font-size .75rem
      &:lang(zh-Hans)
        font-family DIN Alternate, DIN Alternate Bold, $ff-sans-generic-hans
      a[href="//mockingbot.com"]
        font-size .75rem
    /input#zh--en:indeterminate ~ Main article h3 + p.period
    /input#zh--en:indeterminate ~ Main article h3 + p.period + p:lang(zh).period
      margin-top .5em
    p.period + p:not(.period)
    /input#zh--en:not(:checked) ~ Main article p.period + p:not(.period) + p:lang(zh):not(.period)
    /input#zh--en:checked ~ Main article p.period + p:not(.period) + p:lang(zh):not(.period) + p:lang(en):not(.period)
      &
        margin-top .5em
      @media print
        margin-top 0
    h3 + p:not(.period)
    /input#zh--en:not(:checked) ~ Main article h3 + p:not(.period) + p:lang(zh):not(.period)
    /input#zh--en:checked ~ Main article h3 + p:not(.period) + p:lang(zh):not(.period) + p:lang(en):not(.period)
      margin-top .25em
    p.period
      &
        margin .125rem 0
        font-size .875rem
        font-family Gill Sans, $ff-sans-generic
        color #7a8c7a
      &:lang(zh-Hans)
        font-family Gill Sans, $ff-sans-generic-hans
      @media print
        &
          font-size .625rem
          color #5e5e5e
        &:lang(en)
          margin 0 0 .125rem
          line-height 1
    p:not(.period):lang(en)
      @media print
        margin .5em 0
    input#zh--en:indeterminate ~ & p:not(.period)
      @media print
        margin .25em 0 !important



// ======
// FOOTER
// ======
Body > Footer
  &
    display flex
    padding .5em 2rem
    height 3rem
    justify-content flex-end
    align-items center
    background-color #f6f6f7
    color #543252
  @media print
    display none
  p
    margin 0
